<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="carac">
    <i class="fa-solid fa-gauge-high" aria-hidden="true"></i>
    <span>{{localize "BLOODMAN.Tabs.Character"}}</span>
  </a>
  <a class="item" data-tab="identite">
    <i class="fa-solid fa-id-card" aria-hidden="true"></i>
    <span>{{localize "BLOODMAN.Tabs.Identity"}}</span>
  </a>
  <a class="item" data-tab="equipement">
    <i class="fa-solid fa-briefcase" aria-hidden="true"></i>
    <span>{{localize "BLOODMAN.Tabs.Equipment"}}</span>
  </a>
  <a class="item" data-tab="pouvoirs">
    <i class="fa-solid fa-wand-sparkles" aria-hidden="true"></i>
    <span>{{localize "BLOODMAN.Tabs.AbilitiesPowers"}}</span>
  </a>
  <a class="item" data-tab="notes">
    <i class="fa-solid fa-book-open" aria-hidden="true"></i>
    <span>{{localize "BLOODMAN.Tabs.Notes"}}</span>
  </a>
</nav>
