<form class="bloodman-item item-objet item-ration bm-item-sheet">
  <div class="bm-item-top">
    <div class="bm-item-img">
      <img class="bm-item-img-el" src="{{item.img}}" data-edit="img" />
    </div>

    <div class="bm-item-fields">
      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Common.Name"}}</div>
        <input class="bm-item-input" name="name" value="{{item.name}}" />
      </div>

      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.PriceLabel"}}</div>
        <input class="bm-item-input" type="text" name="system.price" value="{{item.system.price}}" />
      </div>

      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.SalePriceLabel"}}</div>
        <input class="bm-item-input" type="text" name="system.salePrice" value="{{item.system.salePrice}}" data-price-sale />
      </div>

      <p class="bm-price-error" data-price-error>{{itemPriceError}}</p>

      <div class="bm-item-row bm-item-row-note">
        <div class="bm-item-tag">{{localize "BLOODMAN.Common.Note"}}</div>
        <textarea class="bm-item-textarea" name="system.note">{{item.system.note}}</textarea>
      </div>
    </div>
  </div>
</form>
