<form class="bloodman-item">
  <div class="item-header">
    <img class="item-image" src="{{item.img}}" data-edit="img" />
    <div class="item-name-field">
      <label>NOM</label>
      <input name="name" value="{{item.name}}" />
    </div>
  </div>

  <label>DE DE SOIN</label>
  <select name="system.healDie">
    {{#select item.system.healDie}}
      <option value="d4">d4</option>
      <option value="d6">d6</option>
      <option value="d8">d8</option>
      <option value="d10">d10</option>
      <option value="d12">d12</option>
    {{/select}}
  </select>

  <label>NOTES</label>
  <textarea name="system.notes">{{item.system.notes}}</textarea>
</form>
