<form class="bloodman-item item-soin">
  <div class="item-header">
    <img class="item-image" src="{{item.img}}" data-edit="img" />
    <div class="item-name-field">
      <label>{{localize "BLOODMAN.Common.Name"}}</label>
      <input name="name" value="{{item.name}}" />
    </div>
  </div>

  <div class="heal-field">
    <label>{{localize "BLOODMAN.Items.HealDieLabel"}}</label>
    <select name="system.healDie">
      {{#select item.system.healDie}}
        <option value="d4">d4</option>
        <option value="d6">d6</option>
        <option value="d8">d8</option>
        <option value="d10">d10</option>
        <option value="d12">d12</option>
      {{/select}}
    </select>
  </div>

  <div class="note-field">
    <label>{{localize "BLOODMAN.Common.Note"}}</label>
    <textarea name="system.notes">{{item.system.notes}}</textarea>
  </div>
</form>
