<form class="bloodman-item ability-item item-pouvoir bm-item-sheet">
  <div class="bm-item-top">
    <div class="bm-item-img">
      <img class="bm-item-img-el" src="{{item.img}}" data-edit="img" />
    </div>

    <div class="bm-item-fields">
      <div class="bm-item-row bm-item-row-audio">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.AudioFileLabel"}}</div>
        <div class="bm-item-audio-field">
          <input class="bm-item-input bm-item-audio-input" type="text" name="system.audioFile" value="{{item.system.audioFile}}" placeholder="{{localize 'BLOODMAN.Items.AudioFilePlaceholder'}}" />
          <button type="button" class="file-picker" data-type="audio" data-target="system.audioFile" title="{{localize 'BLOODMAN.Items.AudioBrowse'}}" aria-label="{{localize 'BLOODMAN.Items.AudioBrowse'}}" tabindex="-1">
            <i class="fas fa-music"></i>
          </button>
        </div>
      </div>

      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Common.Name"}}</div>
        <input class="bm-item-input" name="name" value="{{item.name}}" />
      </div>

      <div class="bm-item-row bm-voyage-xp-cost-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.VoyageXPCostLabel"}}</div>
        <input class="bm-item-input bm-voyage-xp-cost-input" type="number" min="0" step="1" name="system.xpVoyageCost" value="{{item.system.xpVoyageCost}}" data-dtype="Number" />
      </div>

      <div class="bm-item-row bm-item-row-note">
        <div class="bm-item-tag">{{localize "BLOODMAN.Common.Note"}}</div>
        <textarea class="bm-item-textarea" name="system.note">{{item.system.note}}</textarea>
      </div>
    </div>
  </div>

  <div class="power-cost-row">
    <label class="inline-label">{{localize "BLOODMAN.Powers.PowerCostLabel"}}</label>
    <input class="power-cost-input" type="number" name="system.powerCost" value="{{item.system.powerCost}}" data-dtype="Number" step="1" {{#unless item.system.powerCostEnabled}}disabled{{/unless}} />
    <div class="toggle-group">
      <label class="toggle-option">
        <input type="radio" name="system.powerCostEnabled" value="true" data-dtype="Boolean" {{#if item.system.powerCostEnabled}}checked{{/if}} />
        {{localize "BLOODMAN.Common.Yes"}}
      </label>
      <label class="toggle-option">
        <input type="radio" name="system.powerCostEnabled" value="false" data-dtype="Boolean" {{#unless item.system.powerCostEnabled}}checked{{/unless}} />
        {{localize "BLOODMAN.Common.No"}}
      </label>
    </div>
  </div>

  <div class="ability-row ability-row-two">
    <div class="ability-section power-usable-damage-section">
      <label class="inline-label">{{localize "BLOODMAN.Items.UsableLabel"}}</label>
      <div class="toggle-group">
        <label class="toggle-option">
          <input type="radio" name="system.usableEnabled" value="true" data-dtype="Boolean" {{#if item.system.usableEnabled}}checked{{/if}} />
          {{localize "BLOODMAN.Common.Yes"}}
        </label>
        <label class="toggle-option">
          <input type="radio" name="system.usableEnabled" value="false" data-dtype="Boolean" {{#unless item.system.usableEnabled}}checked{{/unless}} />
          {{localize "BLOODMAN.Common.No"}}
        </label>
      </div>

      <label class="inline-label">{{localize "BLOODMAN.Items.DamageDieLabel"}}</label>
      <div class="toggle-group">
        <label class="toggle-option">
          <input type="radio" name="system.damageEnabled" value="true" data-dtype="Boolean" {{#if item.system.damageEnabled}}checked{{/if}} />
          {{localize "BLOODMAN.Common.Yes"}}
        </label>
        <label class="toggle-option">
          <input type="radio" name="system.damageEnabled" value="false" data-dtype="Boolean" {{#unless item.system.damageEnabled}}checked{{/unless}} />
          {{localize "BLOODMAN.Common.No"}}
        </label>
      </div>
      <select class="damage-die-select" name="system.damageDie" {{#unless item.system.damageEnabled}}disabled{{/unless}}>
        {{#select item.system.damageDie}}
          <option value="d4">d4</option>
          <option value="d6">d6</option>
          <option value="d8">d8</option>
          <option value="d10">d10</option>
          <option value="d12">d12</option>
          <option value="2d4">2d4</option>
          <option value="2d6">2d6</option>
          <option value="2d8">2d8</option>
          <option value="2d10">2d10</option>
          <option value="2d12">2d12</option>
          <option value="1d10+1d4">1d10+1d4</option>
          <option value="1d10+1d8">1d10+1d8</option>
        {{/select}}
      </select>

      <label class="inline-label">{{localize "BLOODMAN.Items.HealDieLabel"}}</label>
      <div class="toggle-group">
        <label class="toggle-option">
          <input type="radio" name="system.healEnabled" value="true" data-dtype="Boolean" {{#if item.system.healEnabled}}checked{{/if}} />
          {{localize "BLOODMAN.Common.Yes"}}
        </label>
        <label class="toggle-option">
          <input type="radio" name="system.healEnabled" value="false" data-dtype="Boolean" {{#unless item.system.healEnabled}}checked{{/unless}} />
          {{localize "BLOODMAN.Common.No"}}
        </label>
      </div>
      <select class="heal-die-select" name="system.healDie" {{#unless item.system.healEnabled}}disabled{{/unless}}>
        {{#select item.system.healDie}}
          <option value="d4">d4</option>
          <option value="d6">d6</option>
          <option value="d8">d8</option>
          <option value="d10">d10</option>
          <option value="d12">d12</option>
          <option value="2d4">2d4</option>
          <option value="2d6">2d6</option>
          <option value="2d8">2d8</option>
          <option value="2d10">2d10</option>
          <option value="2d12">2d12</option>
          <option value="1d10+1d4">1d10+1d4</option>
          <option value="1d10+1d8">1d10+1d8</option>
        {{/select}}
      </select>
    </div>

    <div class="ability-section">
      <label class="inline-label">{{localize "BLOODMAN.Items.RawBonusLabel"}}</label>
      <div class="toggle-group">
        <label class="toggle-option">
          <input type="radio" name="system.rawBonusEnabled" value="true" data-dtype="Boolean" {{#if item.system.rawBonusEnabled}}checked{{/if}} />
          {{localize "BLOODMAN.Common.Yes"}}
        </label>
        <label class="toggle-option">
          <input type="radio" name="system.rawBonusEnabled" value="false" data-dtype="Boolean" {{#unless item.system.rawBonusEnabled}}checked{{/unless}} />
          {{localize "BLOODMAN.Common.No"}}
        </label>
      </div>
      <div class="bonus-controls">
        <div class="bonus-grid bonus-grid-compact {{#unless item.system.rawBonusEnabled}}is-disabled{{/unless}}">
          <label><span>PV</span><input type="number" name="system.rawBonuses.pv" value="{{item.system.rawBonuses.pv}}" data-dtype="Number" step="1" {{#unless item.system.rawBonusEnabled}}disabled{{/unless}} /></label>
          <label><span>PP</span><input type="number" name="system.rawBonuses.pp" value="{{item.system.rawBonuses.pp}}" data-dtype="Number" step="1" {{#unless item.system.rawBonusEnabled}}disabled{{/unless}} /></label>
        </div>
      </div>
    </div>

    <div class="ability-section bm-modifier-section">
      <label class="inline-label">{{localize "BLOODMAN.Items.BonusLabel"}}</label>
      <div class="toggle-group">
        <label class="toggle-option">
          <input type="radio" name="system.characteristicBonusEnabled" value="true" data-dtype="Boolean" {{#if item.system.characteristicBonusEnabled}}checked{{/if}} />
          {{localize "BLOODMAN.Common.Yes"}}
        </label>
        <label class="toggle-option">
          <input type="radio" name="system.characteristicBonusEnabled" value="false" data-dtype="Boolean" {{#unless item.system.characteristicBonusEnabled}}checked{{/unless}} />
          {{localize "BLOODMAN.Common.No"}}
        </label>
      </div>
      <div class="bonus-grid bonus-grid-characteristics {{#unless item.system.characteristicBonusEnabled}}is-disabled{{/unless}}">
        <label><span>MEL</span><input type="number" name="system.characteristicBonuses.MEL" value="{{item.system.characteristicBonuses.MEL}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
        <label><span>VIS</span><input type="number" name="system.characteristicBonuses.VIS" value="{{item.system.characteristicBonuses.VIS}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
        <label><span>ESP</span><input type="number" name="system.characteristicBonuses.ESP" value="{{item.system.characteristicBonuses.ESP}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
        <label><span>PHY</span><input type="number" name="system.characteristicBonuses.PHY" value="{{item.system.characteristicBonuses.PHY}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
        <label><span>MOU</span><input type="number" name="system.characteristicBonuses.MOU" value="{{item.system.characteristicBonuses.MOU}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
        <label><span>ADR</span><input type="number" name="system.characteristicBonuses.ADR" value="{{item.system.characteristicBonuses.ADR}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
        <label><span>PER</span><input type="number" name="system.characteristicBonuses.PER" value="{{item.system.characteristicBonuses.PER}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
        <label><span>SOC</span><input type="number" name="system.characteristicBonuses.SOC" value="{{item.system.characteristicBonuses.SOC}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
        <label><span>SAV</span><input type="number" name="system.characteristicBonuses.SAV" value="{{item.system.characteristicBonuses.SAV}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
      </div>
      <div class="bm-pa-modifier-row">
        <span class="bm-pa-modifier-label">PA</span>
        <input class="bm-pa-modifier-input" type="number" name="system.pa" value="{{item.system.pa}}" data-dtype="Number" step="1" />
      </div>
      <p class="bm-price-error bm-modifier-error">{{item.system.erreur}}</p>
    </div>
  </div>
</form>
