<form class="bloodman-item item-protection bm-item-sheet">
  <div class="bm-item-top">
    <div class="bm-item-img">
      <img class="bm-item-img-el" src="{{item.img}}" data-edit="img" />
    </div>

    <div class="bm-item-fields">
      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Common.Name"}}</div>
        <input class="bm-item-input" name="name" value="{{item.name}}" />
      </div>

      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.PriceLabel"}}</div>
        <input class="bm-item-input" type="text" name="system.price" value="{{item.system.price}}" />
      </div>

      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.SalePriceLabel"}}</div>
        <input class="bm-item-input" type="text" name="system.salePrice" value="{{item.system.salePrice}}" data-price-sale />
      </div>

      <p class="bm-price-error" data-price-error>{{itemPriceError}}</p>

      <div class="bm-item-row bm-item-row-pa">
        <div class="bm-item-tag">PA</div>
        <input class="bm-item-input bm-item-input-narrow" type="number" name="system.pa" value="{{item.system.pa}}" />
      </div>

      <div class="bm-item-row bm-item-row-use">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.UsableLabel"}}</div>
        <div class="toggle-group">
          <label class="toggle-option">
            <input type="radio" name="system.useEnabled" value="true" data-dtype="Boolean" {{#if item.system.useEnabled}}checked{{/if}} />
            {{localize "BLOODMAN.Common.Yes"}}
          </label>
          <label class="toggle-option">
            <input type="radio" name="system.useEnabled" value="false" data-dtype="Boolean" {{#unless item.system.useEnabled}}checked{{/unless}} />
            {{localize "BLOODMAN.Common.No"}}
          </label>
        </div>
      </div>

      <div class="bm-item-bonus-card">
        <label class="inline-label">{{localize "BLOODMAN.Items.BonusLabel"}}</label>
        <div class="toggle-group">
          <label class="toggle-option">
            <input type="radio" name="system.characteristicBonusEnabled" value="true" data-dtype="Boolean" {{#if item.system.characteristicBonusEnabled}}checked{{/if}} />
            {{localize "BLOODMAN.Common.Yes"}}
          </label>
          <label class="toggle-option">
            <input type="radio" name="system.characteristicBonusEnabled" value="false" data-dtype="Boolean" {{#unless item.system.characteristicBonusEnabled}}checked{{/unless}} />
            {{localize "BLOODMAN.Common.No"}}
          </label>
        </div>
        <div class="bonus-grid bonus-grid-characteristics {{#unless item.system.characteristicBonusEnabled}}is-disabled{{/unless}}">
          <label><span>MEL</span><input type="number" name="system.characteristicBonuses.MEL" value="{{item.system.characteristicBonuses.MEL}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
          <label><span>VIS</span><input type="number" name="system.characteristicBonuses.VIS" value="{{item.system.characteristicBonuses.VIS}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
          <label><span>ESP</span><input type="number" name="system.characteristicBonuses.ESP" value="{{item.system.characteristicBonuses.ESP}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
          <label><span>PHY</span><input type="number" name="system.characteristicBonuses.PHY" value="{{item.system.characteristicBonuses.PHY}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
          <label><span>MOU</span><input type="number" name="system.characteristicBonuses.MOU" value="{{item.system.characteristicBonuses.MOU}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
          <label><span>ADR</span><input type="number" name="system.characteristicBonuses.ADR" value="{{item.system.characteristicBonuses.ADR}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
          <label><span>PER</span><input type="number" name="system.characteristicBonuses.PER" value="{{item.system.characteristicBonuses.PER}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
          <label><span>SOC</span><input type="number" name="system.characteristicBonuses.SOC" value="{{item.system.characteristicBonuses.SOC}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
          <label><span>SAV</span><input type="number" name="system.characteristicBonuses.SAV" value="{{item.system.characteristicBonuses.SAV}}" data-dtype="Number" step="1" {{#unless item.system.characteristicBonusEnabled}}disabled{{/unless}} /></label>
        </div>
      </div>

      <div class="bm-item-row bm-item-row-note">
        <div class="bm-item-tag">{{localize "BLOODMAN.Common.Note"}}</div>
        <textarea class="bm-item-textarea" name="system.notes">{{item.system.notes}}</textarea>
      </div>
    </div>
  </div>
</form>
