<form class="bloodman-item">
  <label>NOM</label>
  <input name="name" value="{{item.name}}" />

  <label>MARQUAGE</label>
  <input type="text" name="system.mark" value="{{item.system.mark}}" />

  <label>DÉ DE SOIN</label>
  <select name="system.healDie">
    {{#select item.system.healDie}}
      <option value="d4">d4</option>
      <option value="d6">d6</option>
      <option value="d8">d8</option>
      <option value="d10">d10</option>
      <option value="d12">d12</option>
    {{/select}}
  </select>

  <label>PETITES NOTES</label>
  <input type="text" name="system.noteSmall" value="{{item.system.noteSmall}}" />

  <label>NOTES</label>
  <textarea name="system.notes">{{item.system.notes}}</textarea>
</form>