<form class="bloodman-item item-arme bm-item-sheet">
  <div class="bm-item-top">
    <div class="bm-item-img">
      <img class="bm-item-img-el" src="{{item.img}}" data-edit="img" />
    </div>

    <div class="bm-item-fields">
      <div class="bm-item-row bm-item-row-audio">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.AudioFileLabel"}}</div>
        <div class="bm-item-audio-field">
          <input class="bm-item-input bm-item-audio-input" type="text" name="system.audioFile" value="{{item.system.audioFile}}" placeholder="{{localize 'BLOODMAN.Items.AudioFilePlaceholder'}}" />
          <button type="button" class="file-picker" data-type="audio" data-target="system.audioFile" title="{{localize 'BLOODMAN.Items.AudioBrowse'}}" aria-label="{{localize 'BLOODMAN.Items.AudioBrowse'}}" tabindex="-1">
            <i class="fas fa-music"></i>
          </button>
        </div>
      </div>

      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Common.Name"}}</div>
        <input class="bm-item-input" name="name" value="{{item.name}}" />
      </div>

      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.PriceLabel"}}</div>
        <input class="bm-item-input" type="text" name="system.price" value="{{item.system.price}}" />
      </div>

      <div class="bm-item-row">
        <div class="bm-item-tag">{{localize "BLOODMAN.Items.SalePriceLabel"}}</div>
        <input class="bm-item-input" type="text" name="system.salePrice" value="{{item.system.salePrice}}" data-price-sale />
      </div>

      <p class="bm-price-error" data-price-error>{{itemPriceError}}</p>

      <div class="bm-item-row bm-item-row-note">
        <div class="bm-item-tag">{{localize "BLOODMAN.Common.Note"}}</div>
        <textarea class="bm-item-textarea" name="system.notes">{{item.system.notes}}</textarea>
      </div>
    </div>
  </div>

  <div class="weapon-row">
    <div class="weapon-section">
      <label class="inline-label">{{localize "BLOODMAN.Items.DamageDieLabel"}}</label>
      <div class="toggle-group">
        <label class="toggle-option">
          <input type="radio" name="system.damageEnabled" value="true" data-dtype="Boolean" {{checked weaponDamageEnabled}} />
          {{localize "BLOODMAN.Common.Yes"}}
        </label>
        <label class="toggle-option">
          <input type="radio" name="system.damageEnabled" value="false" data-dtype="Boolean" {{#unless weaponDamageEnabled}}checked{{/unless}} />
          {{localize "BLOODMAN.Common.No"}}
        </label>
      </div>
      <input
        class="bm-item-input damage-die-input"
        type="text"
        name="system.damageDie"
        value="{{item.system.damageDie}}"
        placeholder="/r 1d6+2"
        {{#unless weaponDamageEnabled}}disabled{{/unless}}
      />
    </div>

    <div class="weapon-divider"></div>

    <div class="weapon-section">
      <label class="inline-label">{{localize "BLOODMAN.Equipment.WeaponType.Label"}}</label>
      <div class="weapon-type-group">
        <label class="weapon-type-option">
          <input type="radio" name="system.weaponType" value="distance" {{checked weaponTypeDistance}} />
          {{localize "BLOODMAN.Equipment.WeaponType.Distance"}}
        </label>
        <label class="weapon-type-option">
          <input type="radio" name="system.weaponType" value="corps" {{checked weaponTypeMelee}} />
          {{localize "BLOODMAN.Equipment.WeaponType.Melee"}}
        </label>
      </div>
    </div>

    <div class="weapon-divider"></div>

    <div class="weapon-section">
      <label class="inline-label">{{localize "BLOODMAN.Items.InfiniteAmmoLabel"}}</label>
      <div class="toggle-group">
        <label class="toggle-option">
          <input type="radio" name="system.infiniteAmmo" value="true" data-dtype="Boolean" {{#if item.system.infiniteAmmo}}checked{{/if}} />
          {{localize "BLOODMAN.Common.Yes"}}
        </label>
        <label class="toggle-option">
          <input type="radio" name="system.infiniteAmmo" value="false" data-dtype="Boolean" {{#unless item.system.infiniteAmmo}}checked{{/unless}} />
          {{localize "BLOODMAN.Common.No"}}
        </label>
      </div>
      <label class="inline-label">{{localize "BLOODMAN.Items.MagazineCapacityLabel"}}</label>
      <input type="number" name="system.magazineCapacity" min="0" step="1" value="{{item.system.magazineCapacity}}" {{#unless canEditMagazineCapacity}}readonly{{/unless}} />
      <label class="inline-label">{{localize "BLOODMAN.Items.LoadedAmmoLabel"}}</label>
      <input
        type="number"
        name="system.loadedAmmo"
        min="0"
        step="1"
        value="{{item.system.loadedAmmo}}"
        {{#unless canEditMagazineCapacity}}readonly{{/unless}}
        {{#unless weaponUsesMagazine}}disabled{{/unless}}
      />
    </div>
  </div>
</form>
